fastapi==0.109.0
uvicorn==0.27.0
numpy==1.26.4
pandas==2.2.1
requests==2.31.0
mangum==0.17.0
python-multipart==0.0.20
python-dotenv==1.0.1
boto3
langchain==0.1.1
langchain-aws==0.1.0
langchain-experimental==0.0.49
tabulate