fastapi
uvicorn
numpy<2
pandas
requests
mangum
python-multipart
python-dotenv
pydantic
boto3
langchain
langchain-community
langchain-core
langchain-aws
langchain-experimental
langgraph
tabulate
botocore
langfuse
awswrangler